# ignore latex products
*.{log,aux,pdf,nav,out,snm}
**/pres/*.{log,aux,pdf,nav,out,snm}
# ignore blender products
*.blend[1-9]
*BU.blend

# ignore all rendered pictures or plots
**/pic

# ignore mac stuff
**/.DS_Store
