# ignore latex products
*.log
*.aux
*.pdf
*.nav
*.out
*.snm
*.toc
*.swp
*.bbl
*.blg
*.backup
*.lof

**/pres/*.{log,aux,pdf,nav,out,snm}

# Some Makfile thingy
*~

# ignore blender products
*.blend[1-9]
*BU.blend

# ignore all rendered pictures or plots and videos
**/pic
**/BCG_tests/**
**/vids/**
**.png
# ignore mac stuff
**/.DS_Store
